body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form div {
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 10px 0;
}

li.success {
    color: green;
}

li.danger {
    color: red;
}

li.info {
    color: blue;
}
